doctype 5
html
	head
		title heimcontrol.js | #{title}
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='#{theme}')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/heimcontrol.css')
		link(rel='stylesheet', href='/css/plugins.css')
		link(rel='icon', href='/heimcontrol.ico', type='image/x-icon')
		link(rel='apple-touch.icon', sizes='57x57', href='/apple-touch.icon-57x57.png')
		link(rel='apple-touch.icon', sizes='72x72', href='/apple-touch.icon-72x72.png')
		link(rel='apple-touch.icon', sizes='114x114', href='/apple-touch.icon-114x114.png')
		link(rel='apple-touch.icon', sizes='144x144', href='/apple-touch.icon-144x144.png')
		script(data-main='/js/main', src='/js/require-jquery.js')
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ8uSoQWc5w_Em2FHl3u6y1zlxfex3tgs&sensor=true",type="text/javascript")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					- if ((typeof(hide_menubar) == 'undefined') || (hide_menubar == false))
						span.navbar-toggle(type="button", data-toggle="collapse", data-target="#mainmenu", style="color:gray;")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					a.navbar-brand(href="/") heimcontrol.js
				- if ((typeof(hide_menubar) == 'undefined'))
					div.collapse.navbar-collapse(id="mainmenu")
						ul.nav.navbar-nav
							li(class=(title === 'Home' ? 'active' : ''))
								a(href="/")
									i.fa.fa-home
									| &nbsp;Home
							li(class=(title === 'AlarmSystem' ? 'active' : ''))
								a(href="/alarmsystem")
									i.fa.fa-key
									| &nbsp;AlarmSystem
							li.dropdown(class=(title === 'RPi-Monitor' ? 'active' : ''))
								a.dropdown-toggle(href="#", data-toggle="dropdown")
									i.fa.fa-desktop
									| &nbsp;RPi-Monitor&nbsp;
									b.caret
								ul.dropdown-menu
									li
										a(href="/rpi-monitor?type=status")
											i.fa.fa-check.dropdownicon &nbsp;
											| Status
										li
											a(href="/rpi-monitor?type=statistics")
												i.fa.fa-bar-chart-o.dropdownicon &nbsp;
												| Statistics
							li.dropdown(class=(title.indexOf('Settings')!==-1 ? 'active' : ''))
								a.dropdown-toggle(href="#", data-toggle="dropdown")
									i.fa.fa-cogs
									| &nbsp;Settings&nbsp;
									b.caret
								ul.dropdown-menu
									li
										a(href="/settings")
											i.fa.fa-cog.dropdownicon &nbsp;
											| heimcontrol.js
									li.divider
									each plugin in plugins
										li
											a(href="/settings/#{plugin.id}") 
												- if (plugin.icon)
													i(class="dropdownicon #{plugin.icon}") &nbsp;
												| &nbsp;#{plugin.name}
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/logout") 
									i.fa.fa-sign-out &nbsp;
									| Logout

		block content

		footer.footer
			div.container
				p Created by 
					a(href="http://about.ni-c.de") Willi Thiel
					| , licensed under&nbsp;
					a(href="https://github.com/ni-c/heimcontrol.js/blob/master/LICENSE") MIT License
					| .
				p Crafted using  
					a(href="http://jade-lang.com/") Jade
					| ,&nbsp;
					a(href="http://twitter.github.com/bootstrap/") Bootstrap&nbsp;
					| &amp;&nbsp;
					a(href="http://fortawesome.github.com/Font-Awesome/") font-awesome
					|.
				p Running with&nbsp;
					a(href="http://nodejs.org/") node.js
					| ,&nbsp;
					a(href="http://socket.io/") socket.io
					| ,&nbsp;
					a(href="http://expressjs.com/") express
					| ,&nbsp;
					a(href="http://www.mongodb.org/") mongodb
					| .
				p And a hell of a lot of other open source projects.